body{
    background: linear-gradient(rgb(158, 88, 239) 0%, rgb(79, 194, 223) 100% );
    color: rgb(250, 147, 255);
}
.heading{
    width: 80%;
    font-size: 22px;
}
.object_names{
    color: rgb(190, 255, 152);
}
#camera{
    border: 2px dashed rgb(242, 231, 132);
    width: 350px;
    height: 300px;
}
#display_object{
    color: red;
}
#display_accuracy{
    color: orangered;
}